<%= form_for(@hap) do |f| %>
  <% if @hap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hap.errors.count, "error") %> prohibited this hap from being saved:</h2>

      <ul>
      <% @hap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
