<fieldset>
  <legend>Horticultural Awards Program Overview</legend>
  <center>(Revisions accepted: February 2, 2010)</center>
  <p>
    Aquatic Horticulture is an integral part of the tropical fish keeping hobby.  Not only are aquatic plants in aquaria aesthetically pleasing and some indeed quite eye-catching, aquarium plants also serve numerous functions in the aquarium and to the fish as well. 
  </p>
  
  <p>
    The Aquatic Horticulture Award Program (HAP) has been established to recognize and encourage outstanding achievement in the maintenance and propagation of aquatic plants.  It is hoped that the program will facilitate the accumulation and organization of knowledge related to the identification and maintenance of aquatic plants and their use in the home aquarium. 
  </p>
  
  <strong><u>CERTIFICATES AND AWARDS REQUIREMENTS</u></strong>
  <p>
  To qualify for a certificate or award, certain requirements must be met. These are relatively few and easy to comply with.  The requirements are as follows: 
  </p>
  
  <ol>
    <li><p>Plants reproduced must conform with the following definition of a true aquatic plant: 
      <br/>
      <strong>
        A true aquatic plant is one which, in the wild or native state, can be found either as free floating, rooted with leaves floating at the surface of the water or projecting into the air, or completely submerged as a normal occurrence at some time during the course of one calendar year.
      </strong>
      </p>
    </li>
    <li>
      <p>
        Verification of the plant by either the HAP Chairperson or designate, or the HAP Committee.  
      </p>
    </li>
    <li>
      <p>
        Members should notify the HAP Chairperson when requiring verification so that an initial or second inspection, identification, and HAP report can be completed.
      </p>
    </li>
    <li>
      <p>
        Verification of the plant in classes A through D will have to be brought to the general meeting for verification.  In hardship cases, the HAP Committee representative can visit the member’s home so the plant will not have to be uprooted.  The HAP Committee reserves the right to exclude any plant which is doubtful.
      </p>
    </li>
    <li>
      <p>
        Since flowering may not coincide with meeting dates and flowers would need to be kept to harvest seeds, class E entries may be submitted by means of a clear digital image or color photograph taken of the members plant.
      </p>
    </li>
    <li>
      <p>
        A completed HAP Report must accompany the plant for verification. The HAP Report form should be completed and signed by the participant and submitted to the HAP Chairperson. It is his/her responsibility to include the species' scientific name along with all other pertinent information. A clear digital image or color photograph will be required for any unidentified plant. Unidentified plant species will be assigned a code number for record until scientifically identified. This photograph will become property of the Winnipeg Aquarium Society until the plant is identified.
      </p>
    </li>
    <li>
      <p>
        To create interest in the program, one of the following options must be exercised by the member:
      </p>
      <p>
        Donation of one plant to be auctioned at the general meeting according to Winnipeg Aquarium Society rules and regulations. This plant must be of the same species for which points were awarded;
      </p>
      <p>
        Or
      <p>
      <p>
        Submission of a written article to the HAP Chairperson for publication in the Winnipeg Aquarium Society newsletter. This article should include a description of the plant and the methods used in the growth and propagation of the plant. Any information on type of reproduction, special methods used to aid growth, type of light, size of tank, bottom media, or problems encountered during propagation would be welcomed.
      </p>
    </li>
  </ol>
  <p>
    <strong><u>The following will be considered the basis for reproduction:</u></strong>
  </p>
  <p>
    <strong>Growth (Class A,B,C,D):</strong>
  </p>
  <div class='no-bullets'>
    <ul >
      <li>
        <p>
          <strong>Floating Plants</strong> - Doubling in amount of plant material.
        </p>
      </li>
      <li>
        <p>
          <strong>Bunching Plants</strong> - Doubling in amount of plant material, determined by a count of rooted growing stems.
        </p>
      </li>
      <li>
        <p>
          <strong>Runners/Division</strong> - A single, healthy plant reproduced by means of underground stems, roots, runners or by simple fragmentation of parts of the plant which are capable of surviving independently of the parent plant immediately. The parent plant is required to be alive and in good health.
        </p>
      </li>
    </ul>
  </div>
  <p>
    <strong>Flowering (Class E):</strong>
  </p>
  <div class='no-bullets'>
    <ul>
      <li>
        <p>
          Recognition will be awarded for all reported flowerings of aquatic plants, with or without the successful propagation of that particular plant. 
        </p>
      </li>
    </ul>
  </div>
  <p>
    <strong>Seed Production (Class F):</strong>
  </p>
  <div class='no-bullets'>
    <ul>
      <li>
        <p>
          Seeds collected from the flowers of a members aquatic plant will be granted award, with or without the successful propagation of that particular plant.
        </p>
      </li>
    </ul>
  </div>
  <p>
    <strong>Full sexual reproduction (Class G):</strong>
  </p>
  <div class='no-bullets'>
    <ul>
      <li>
        <p>
          Recognition for full sexual reproduction from the seeds of a members aquarium plant will be awarded once the plant is large enough to identify it as coming from the said parent plant.
        </p>
      </li>
    </ul>
  </div>        
  
  <p>
    <strong><u>HAP Recognition and Point System</u></strong>
  </p>
  <p>
    As you work towards receiving certificates and plaques, each plant cultivated is awarded points.  The points are accumulative and non-competitive.  This allows you to set your own goals.  Any aquatic plant not included in the plant classification list will be assigned points by the HAP Committee as required, and then will have to be ratified by the Society Executive.  The points serve to let other members know the extent of participation of the number of individuals in the program, and give you an idea of where you stand in relation to other participants in the Aquarium Society of Winnipeg and across the country.  All participants receive the same number of points for each plant cultivated regardless of when participation in the program begins.
  </p>
  <p>
    Once points have been assigned for a certain plant, these points remain. The HAP Committee reserves the right to periodically adjust the point values of plants if it finds it necessary, and only awards from that time on, will receive the new point values.  It is the participant’s own responsibility to see that points awarded are properly recorded.
  </p>
  <p>
    Recognition will be given for a species only once toward an award.  The HAP Committee will judge the validity of any questionable plant.  Each time a different species of plant is reproduced, a certificate will be presented to the participant.  This certificate will include the name of the participant, the species cultivated and the date.  A plaque will be awarded at the completion of each plateau to signify the advancing horticulturist.  The plaque will have the participant’s name along with the level of achievement as outlined below.  Before advancing to the next level, the previous class must be completed.
  </p>
  <p>
    <table boarder="1">
      <tr>
        <td><strong>Beginner Aquatic Horticulturist</strong></td>
        <td>50 points</td>
        <td>50 points from any class<br/></td>
      </tr>
      <tr>
        <td><strong>Intermediate Aquatic Horticulturist</strong></td>
        <td>100 points</td>
        <td>Must include 1 class “E” award<br/></td>
      </tr>
      <tr>
        <td><strong>Expert Aquatic Horticulturist</strong></td>
        <td>300 points</td>
        <td>Must meet Intermediate Aquatic requirements<br/>
            Must include at least 1 award from each growth class
        </td>
      </tr>
      <tr>
        <td><strong>Master Aquatic Horticulturist</strong></td>
        <td>500 points</td>
        <td>Must meet Expert Aquatic requirements<br/>
            Must include at least 5 class “E” awards
        </td>
      </tr>
      <tr>
        <td><strong>Grand Master Horticulturist</strong></td>
        <td>1000 points</td>
        <td>Must meet Master Aquatic requirements<br/>
            Must include at least 5 class “G” awards<br/>
            Must submit at least 5 articles or present 2 lectures at separate general meetings
        </td>
      </tr>
    </table>
  </p>
</fieldset>