<legend>Breeder's Award Program Overview</legend> 
<p>
  The knowledge of behavior of each species of fish, which are kept in our aquariums, would not be complete without being able to witness their reproduction.  The Breeders Award Program (BAP) is the tool at our disposal to help us face that challenge.
</p>
<p>
  The main object of the BAP is to make our hobby more interesting by fostering and encouraging members to reproduce tropical fish in their home aquarium (or pond).  Through the sharing of information, members will have the opportunity to attempt to breed many species of tropical fish:  both the difficult and the not so difficult.  The BAP, by virtue of its hierarchical system, is a means to recognize the accomplishments of members of the Aquarium Society of Winnipeg.  It should be emphasized that the BAP is not a competition but rather an exciting way to encourage members to breed tropical fish. 
</p>
<p> 
  <strong><u>RULES</u></strong>
  <ol> 
    <li>Any member in good standing of the Aquarium Society of Winnipeg may participate in the program.</li>
    <li>
      To be eligible for the BAP, a spawn must consist of at least five fry (special consideration will be given to species known for having spawns of less than five fry, i.e., livebearers, killies).  It is the responsibility of the participant to provide documentation to justify such claims.  The most up to date materials such as the Internet, books, magazines, etc., are suitable references.<br />
    </li>
    <li>
      All spawning must be as a result of eggs, (or in the case of live-bearers, fry) which were spawned in the participants’ own aquarium (or pond) by fish which were his/her bona-fide property.
    </li>
    <li>
      Verification shall consist of the fry (and both parents, if requested by the BAP chair/committee).  The fry must be at least 60 days old to be eligible for verification, i.e., 60 days after hatching of the eggs or in the case of mouthbrooders 60 days after the release of the fry.  The only exception to this rule applies to Class D spawning in which the fry must be verified at 30 days then again at 60 days.
    </li>
    <li>
      All verification of fry is to take place at the monthly meetings unless prior approval is given by BAP Chairperson.  The only exception to this rule applies to class D spawns in which arrangements need to be made with the BAP Chair for the first witnessing of fry at 30 days.
    </li>
    <li> 
      The participant is responsible to submit the completed BAP report form, (section 10). at the time of witnessing.  All forms must be signed by both the participant and the BAP chair at time of witnessing.
    </li>
    <li> 
      To receive credit for BAP the one (1) bag of five (5) fry used for witnessing must be sold in the BAP auction, (section 8).
    </li>
    <li> 
      The BAP auction will be held prior to the regular auction at every monthly meeting. The auction proceeds will be divided 75% to the seller and 25% to the club. 
    </li>
    <li> 
      Points shall be awarded only once for any species of fish, except at the discretion of the BAP chair/committee, points may be awarded for subspecies or naturally occurring geographical variants.
    </li>
    <li>
      The crossbreeding of species will not be recognized by the BAP under any circumstances.
    </li>
    <li> 
      The BAP chair is responsible for the verification of fry.  Members of the BAP committee may witness fry if approved by the BAP chair.  The BAP chair may not witness his/her own fry.
    </li>
    <li> 
      It is the participant’s responsibility to see that all requirements have been met in each instance.  To ensure that no mistakes occur, it is advised that participants maintain a personal record of all spawning and points awarded.
    </li> 
    <li>
      The current Aquarium Society of Winnipeg BAP Report Form must be used to register all spawns.  BAP Report Forms are available from the BAP chair and the <a href="#">ASW webpage</a>. 
    </li>
    <li> 
      The awarding of points shall be according to the current BAP catalogue of species.  In the case of discrepancy, the BAP committee shall review the case for final decision.  The points system shall be as follows:<br />
      <strong>
        Class A - 5 points;<br />
        Class B - 10 points;<br />
        Class C - 15 points;<br />
        Class D - 20 points;
      </strong>
    </li>
    <li>
      The BAP chairperson shall be responsible for the following: 
      <ol>
        <li>Receiving, compiling and recording all points as they are received;</li>
        <li>Ensuring that all awards are available for presentation.</li>
      </ol>
    </li>
    <li>
      The BAP committee shall be responsible for the following:  
      <ol>
        <li>The maintenance of the BAP;</li>
        <li>Forwarding all BAP documentation to the BAP chairperson.</li>
      </ol>
    </li>
    <li>
      The ASW member with the most registered spawns in the ASW calendar year will receive the Breeder of the Year Award. In the event of a tie the ASW member with spawns from the classes with higher point values will be considered the winner.  The award will be presented at the June general Meeting at the end of the ASW calendar year.
    </li>
    <li>All BAP documentation is property of the Aquarium Society of Winnipeg.</li>
  </ol> 
</p>
<p>
  <strong>BONUS POINTS</strong><br />
  <br />
    To further the interest and the education aspect in the BAP, a system of bonus points is in place to encourage participants to share their spawning achievements with others through writing of articles. 
    <ol>
      <li>
        Five bonus points shall be awarded in the BAP for each article submitted to the BAP committee up to one year after verification.
      </li>
      <li>Articles must be written by the participant who is registering the spawn.</li>
      <li>Articles that are in point form or of a paragraph or less will not qualify for the bonus points.</li>
      <li>Articles submitted for bonus points may be forwarded to the editor of the FISH FILE at the discretion of the BAP chairperson.</li>
    </ol>
</p>
<p>
  <strong>AWARDS</strong><br />
  <br />
  A certificate of achievement shall be awarded for each successful spawn. In addition, the participant’s points will accumulate toward the following major awards.  All awards are presented at the monthly general meetings. 
  <table>
    <tr>
      <td><strong>Junior</strong></td>
      <td>50 points</td>
      <td>From any class<br />Minimum of 5 species</td>
    </tr>
    <tr>
      <td><strong>Intermediate</strong></td>
      <td>150 points</td>
      <td>Maximum of 60 points from Class A<br />Minimum of 15 species</td>
    </tr>
    <tr>
      <td><strong>Senior</strong></td>
      <td>300 points</td>
      <td>Maximum of 100 points from Class A<br />Minimum of 30 species</td>
    </tr>
    <tr>
      <td><strong>Advanced</strong></td>
      <td>500 points</td>
      <td>1 Class D reproduction<br />Minimum of 45 species</td>
    </tr>
    <tr>
      <td><strong>Expert</strong></td>
      <td>750 points</td>
      <td>2 Class D reproduction<br />Minimum of 60 species</td>
    </tr>
    <tr>
      <td><strong>Master</strong></td>
      <td>1,000 points</td>
      <td>3 Class D reproduction<br />Minimum of 75 species</td>
    </tr>
    <tr>
      <td><strong>Grand Master</strong></td>
      <td>1,500 points</td>
      <td>4 Class D reproduction<br />Minimum of 150 species</td>
    </tr>
    <tr>
      <td><strong>Grand Master II</strong></td>
      <td>2,500 points</td>
      <td>6 Class D reproduction<br />Minimum of 150 species</td>
    </tr>
    <tr>
      <td><strong>Grand Master III</strong></td>
      <td>4000 points</td>
      <td>10 Class D reproduction<br />Minimum of 300 species</td>
    </tr>
    <tr>
      
  </table>
</p>